<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="wcr">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.173339179316469 0.249161564117283 0.498560226449958"
        rpy="0 0 0" />
      <mass
        value="1.15913352868688" />
      <inertia
        ixx="0.013266326041051"
        ixy="-2.41447331341141E-12"
        ixz="4.40344155207792E-05"
        iyy="0.0298435837404179"
        iyz="3.57155377728949E-08"
        izz="0.0175448598140055" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wcr/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wcr/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="wheel1">
    <inertial>
      <origin
        xyz="8.53677939421926E-07 -2.47264731600971E-06 0.0103720211226875"
        rpy="0 0 0" />
      <mass
        value="0.130552212312424" />
      <inertia
        ixx="0.000629069787955321"
        ixy="1.82875262493693E-08"
        ixz="9.26161101021166E-12"
        iyy="0.000629039631470797"
        iyz="-4.03883615855243E-11"
        izz="0.00125431132315017" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wcr/meshes/wheel1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wcr/meshes/wheel1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="w1"
    type="continuous">
    <origin
      xyz="0.37577 -0.21034 0.24068"
      rpy="-1.5223 -1.3702 3.0941" />
    <parent
      link="base_link" />
    <child
      link="wheel1" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="wheel2">
    <inertial>
      <origin
        xyz="8.53677939449682E-07 -2.47264731667585E-06 0.00746169437729394"
        rpy="0 0 0" />
      <mass
        value="0.130552212312421" />
      <inertia
        ixx="0.000629069787955317"
        ixy="1.82875262518163E-08"
        ixz="9.26161278813381E-12"
        iyy="0.00062903963147078"
        iyz="-4.03883643109587E-11"
        izz="0.00125431132315015" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wcr/meshes/wheel2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wcr/meshes/wheel2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="w2"
    type="continuous">
    <origin
      xyz="0.37577 -0.76789 0.22907"
      rpy="1.7194 -1.1054 -0.133" />
    <parent
      link="base_link" />
    <child
      link="wheel2" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="wheel3">
    <inertial>
      <origin
        xyz="8.53677941059505E-07 -2.47264731813301E-06 0.0206351914786975"
        rpy="0 0 0" />
      <mass
        value="0.130552212312425" />
      <inertia
        ixx="0.000629069787955326"
        ixy="1.82875262471639E-08"
        ixz="9.26161034190266E-12"
        iyy="0.000629039631470801"
        iyz="-4.03883624906849E-11"
        izz="0.00125431132315018" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wcr/meshes/wheel3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wcr/meshes/wheel3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="w3"
    type="continuous">
    <origin
      xyz="-0.029226470150854 -0.20055123734307 0.23196294752624"
      rpy="-1.26888284562144 -1.41496478334904 2.84312289791574" />
    <parent
      link="base_link" />
    <child
      link="wheel3" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="wheel4">
    <inertial>
      <origin
        xyz="8.53662337985117E-07 -2.47263927080632E-06 0.00752817089421909"
        rpy="0 0 0" />
      <mass
        value="0.130552212305838" />
      <inertia
        ixx="0.00062906978797434"
        ixy="1.82874590826523E-08"
        ixz="9.25274866466641E-12"
        iyy="0.000629039631417483"
        iyz="-4.03399552804272E-11"
        izz="0.00125431132310261" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wcr/meshes/wheel4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wcr/meshes/wheel4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="w4"
    type="continuous">
    <origin
      xyz="-0.029226 -0.76879 0.24275"
      rpy="1.5714 0.44874 0.00026651" />
    <parent
      link="base_link" />
    <child
      link="wheel4" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="front_fan_outer_ring">
    <inertial>
      <origin
        xyz="0.000336142954789953 -0.00801739641185661 -0.145"
        rpy="0 0 0" />
      <mass
        value="0.0813752140022557" />
      <inertia
        ixx="0.000645491172285435"
        ixy="-2.16840434497101E-19"
        ixz="-5.80349917767204E-20"
        iyy="0.00130705884679793"
        iyz="8.4914708530339E-07"
        izz="0.000662794424012404" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wcr/meshes/front_fan_outer_ring.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.996078431372549 0.870588235294118 0.76078431372549 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wcr/meshes/front_fan_outer_ring.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="f_or"
    type="revolute">
    <origin
      xyz="0.36077 -0.35351 0.34537"
      rpy="1.5708 -0.12715 3.1416" />
    <parent
      link="base_link" />
    <child
      link="front_fan_outer_ring" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="3.14"
      upper="-3.14"
      effort="30"
      velocity="100" />
  </joint>
  <link
    name="fron_fan_inner_link">
    <inertial>
      <origin
        xyz="5.55111512312578E-17 -0.000994221307817456 1.11022302462516E-16"
        rpy="0 0 0" />
      <mass
        value="0.0365268438821865" />
      <inertia
        ixx="9.24509515375344E-06"
        ixy="5.88887588829746E-19"
        ixz="-6.24183712919044E-20"
        iyy="0.000217471782194845"
        iyz="-3.04931861011548E-20"
        izz="0.000212158016314981" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wcr/meshes/fron_fan_inner_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.996078431372549 0.870588235294118 0.76078431372549 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wcr/meshes/fron_fan_inner_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="f_il"
    type="revolute">
    <origin
      xyz="0 0 -0.145"
      rpy="0.19686 0 0" />
    <parent
      link="front_fan_outer_ring" />
    <child
      link="fron_fan_inner_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="30"
      velocity="100" />
  </joint>
  <link
    name="front_fan">
    <inertial>
      <origin
        xyz="7.27298450686753E-07 -0.0253085830919659 -4.9768149905649E-06"
        rpy="0 0 0" />
      <mass
        value="0.00485849949752118" />
      <inertia
        ixx="2.01183165912553E-05"
        ixy="2.39175756709515E-12"
        ixz="9.24093735781724E-07"
        iyy="2.02825518979944E-05"
        iyz="-1.45406913624821E-11"
        izz="1.95118463387398E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wcr/meshes/front_fan.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wcr/meshes/front_fan.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="f"
    type="continuous">
    <origin
      xyz="0 0 0"
      rpy="3.1416 -1.4511 0" />
    <parent
      link="fron_fan_inner_link" />
    <child
      link="front_fan" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="rear_fan_outer_ring">
    <inertial>
      <origin
        xyz="0.000336142954789953 -0.0080173964118565 0.145"
        rpy="0 0 0" />
      <mass
        value="0.0813752140022557" />
      <inertia
        ixx="0.000645491172285437"
        ixy="-2.03287907341032E-19"
        ixz="1.62524446754419E-20"
        iyy="0.00130705884679794"
        iyz="8.49147085303455E-07"
        izz="0.000662794424012407" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wcr/meshes/rear_fan_outer_ring.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.996078431372549 0.870588235294118 0.76078431372549 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wcr/meshes/rear_fan_outer_ring.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_or"
    type="revolute">
    <origin
      xyz="-0.014226 -0.35351 0.34537"
      rpy="1.5708 0.29859 0" />
    <parent
      link="base_link" />
    <child
      link="rear_fan_outer_ring" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="30"
      velocity="100" />
  </joint>
  <link
    name="rear_fan_inner_link">
    <inertial>
      <origin
        xyz="-5.55111512312578E-17 -0.0009942213078174 1.11022302462516E-16"
        rpy="0 0 0" />
      <mass
        value="0.0365268438821867" />
      <inertia
        ixx="9.24509515375361E-06"
        ixy="-1.8994441005771E-20"
        ixz="4.60700704059862E-20"
        iyy="0.000217471782194847"
        iyz="4.06575814682064E-20"
        izz="0.000212158016314983" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wcr/meshes/rear_fan_inner_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.996078431372549 0.870588235294118 0.76078431372549 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wcr/meshes/rear_fan_inner_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_il"
    type="revolute">
    <origin
      xyz="0 0 0.145"
      rpy="-0.19946 0 0" />
    <parent
      link="rear_fan_outer_ring" />
    <child
      link="rear_fan_inner_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="30"
      velocity="100" />
  </joint>
  <link
    name="rear_fan">
    <inertial>
      <origin
        xyz="-1.33705306049059E-07 0.0280362445781921 1.49538768468016E-06"
        rpy="0 0 0" />
      <mass
        value="0.0048581759238917" />
      <inertia
        ixx="2.01198247751546E-05"
        ixy="9.44279160448321E-13"
        ixz="9.24269412841832E-07"
        iyy="2.02840783888916E-05"
        iyz="-1.09703534971134E-12"
        izz="1.95136657643795E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wcr/meshes/rear_fan.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wcr/meshes/rear_fan.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r"
    type="continuous">
    <origin
      xyz="0 0 0"
      rpy="0 0.047658 0" />
    <parent
      link="rear_fan_inner_link" />
    <child
      link="rear_fan" />
    <axis
      xyz="0 1 0" />

  </joint>
</robot>